body{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.calculatrice{
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    width: 40%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.calculatrice input{
    width: 100%;
    height: 20%;
    background: none;
    font-size: 30px;
    text-align: end;
    border: none;
}

.calculatrice .pad{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.chiffres{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    padding: 10px;
    width: 80%;
}

.chiffres button{
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    font-size: 20px;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.chiffres button:last-child{
    grid-column: 2/3;
}

.operators{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    padding: 10px;
    width: 20%;
}

.operators button{
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    font-size: 20px;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}